@import '../../styles/global.scss';

.chat-room {
    @include flex-column;
    // color: $theme-color;
    overflow: hidden;
    height: 600px;
    width: 800px;
    border: 1px solid #dcdcdc;


    .user-tab-row {
        height: max-content;
        border-bottom: 1px solid #dcdcdc;
        padding: 5px;
        flex-shrink: 0;
        background-color: $theme-color;
    }

    .user-tabs {
        width: 200px;
        flex-shrink: 0;
        border-right: 1px solid #dcdcdc;
        height: 100%;

        .user-item {
            border-bottom: 1px solid #dcdcdc;
            height: 50px;
            padding: 5px 0px 5px 5px;
            cursor: pointer;
            width: 190px;
        }

        .active-tab {
            background-color: $theme-color;
        }

        .user-item-info {
            flex: 1;
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
        }
    }

    .session-area {
        padding: 10px;
    }

    .user-content {
        flex: 1;
        overflow: hidden;
        @include flex-column-center;

        .message-area {
            flex: 1;
            margin-bottom: 20px;
            padding: 10px;
            width: 100%;
            border: 1px solid #dcdcdc;
            border-radius: 6px;
            overflow-y: auto;
            white-space: wrap;
            word-break: break-all;
        }

        .message-info-row {
            font-size: 12px;
            margin-bottom: 5px;
        }

        .messge-bubble {
            background-color: $theme-color;
            border-radius: 4px;
            max-width: 400px;
            margin-bottom: 10px;
            width: max-content;
            line-height: 22px;
            color: #fff;
            padding: 5px 10px;
        }
    }

    .ant-input {
        height: 150px !important;
        flex-shrink: 0;
        width: 100%;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        resize: none;
        color: #333;
    }
}